<div class="container mx-auto pt-8 bg-transparent">
  <h1 class="mb-4 text-center text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-blue-700 from-blue-200">Registration</span></h1>

  <form (ngSubmit)="onSubmit()" class="pb-36" [formGroup]="registerForm">
    <div class="grid gap-6 mb-6 md:grid-cols-2 p-4 mx-12">
      <div class="mb-6 mx-6">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <input type="text"
               id="username"
               formControlName="username"
               class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required>
        <div *ngIf="submitted && f['username']?.errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors?.['required']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">Username is required</div>
          <div *ngIf="f['username'].errors?.['minlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Username must be at least 5 characters
          </div>
          <div *ngIf="f['username'].errors?.['maxlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Username must not exceed 64 characters
          </div>
        </div>
      </div>
      <div class="mb-6 mx-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
        <input type="email"
               id="email"
               class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="john.doe@company.com"
               formControlName="email"
               required>
        <div *ngIf="submitted && f['email']?.errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors?.['required']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">An Email address is required</div>
          <div *ngIf="f['email'].errors?.['email']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Email is invalid
          </div>
        </div>
      </div>
      <div class="mb-6 mx-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password"
               id="password"
               formControlName="password"
               class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="•••••••••"
               required>
        <div *ngIf="submitted && f['password']?.errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors?.['required']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">A Password is required</div>
          <div *ngIf="f['password'].errors?.['minlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Password must be at least 8 characters
          </div>
          <div *ngIf="f['password'].errors?.['maxlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Password must not exceed 254 characters
          </div>
        </div>
      </div>
      <div class="mx-6">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
        <input type="text"
               id="first_name"
               formControlName="firstName"
               class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="John"
               required>
        <div *ngIf="submitted && f['firstName']?.errors" class="invalid-feedback">
          <div *ngIf="f['firstName'].errors?.['required']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">Your First Name is required</div>
          <div *ngIf="f['firstName'].errors?.['minlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            First name must be at least 2 characters
          </div>
          <div *ngIf="f['firstName'].errors?.['maxlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            First name must not exceed 64 characters
          </div>
        </div>
      </div>
      <div class="mx-6">
        <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
        <input type="text"
               id="last_name"
               formControlName="lastName"
               class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Doe"
               required>
        <div *ngIf="submitted && f['lastName']?.errors" class="invalid-feedback">
          <div *ngIf="f['lastName'].errors?.['required']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">Your Last Name is required</div>
          <div *ngIf="f['lastName'].errors?.['minlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Last name must be at least 2 characters
          </div>
          <div *ngIf="f['lastName'].errors?.['maxlength']" class="block mb-2 m-1 text-sm font-medium text-red-700 dark:text-red-500">
            Last name must not exceed 64 characters
          </div>
        </div>
      </div>

      <div class="mx-6">

      </div>

      <div class="mx-6 my-3">
        <input
          type="checkbox"
          id="hasAddress"
          name="hasAddress"
          formControlName="hasAddress"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
        <label for="hasAddress" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Add my Delivery Address now</label>
      </div>

      <div *ngIf="registerForm.get('hasAddress')?.value">
        <div class="mx-6 my-3">
          <label for="street" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street</label>
          <input type="text"
                 id="street"
                 name="street"
                 formControlName="street"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>

        <div class="mx-6 my-3">
          <label for="streetSecond" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street Second Line (Optional)</label>
          <input type="text"
                 id="streetSecond"
                 name="streetSecond"
                 formControlName="streetSecond"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>

        <div class="mx-6 my-3">
          <label for="houseNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">House Number</label>
          <input type="text"
                 id="houseNumber"
                 name="houseNumber"
                 formControlName="houseNumber"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>

        <div class="mx-6 my-3">
          <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
          <input type="text"
                 id="city"
                 name="city"
                 formControlName="city"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>

        <div class="mx-6 my-3">
          <label for="postalCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postal Code</label>
          <input type="text"
                 id="postalCode"
                 name="postalCode"
                 formControlName="postalCode"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>

        <div class="mx-6 my-3">
          <label for="region" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Region</label>
          <input type="text"
                 id="region"
                 name="region"
                 formControlName="region"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>

        <div class="mx-6 my-3">
          <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
          <select id="country"
                  name="country"
                  formControlName="country"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let country of countries" [ngValue]="country.name">{{ country.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid mb-6 md:grid-cols-1 p-4 mx-32">
      <button type="submit" class="text-white bg-blue-500 dark:bg-blue-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register</button>
    </div>
  </form>
</div>
