<app-navbar></app-navbar>

<div class="flex bg-gray-100 dark:bg-gray-700 p-3 justify-content-center justify-end">
  <label for="darkModeToggle" class="relative inline-flex items-center cursor-pointer">
    <input
      type="checkbox"
      id="darkModeToggle"
      class="sr-only peer"
      (change)="toggleDarkMode()"
    >
    <div class="w-11 h-6 bg-white-100 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 "></div>
  </label>
  <span class="mx-4 ms-3 text-sm font-medium text-gray-400 dark:text-gray-200">
    Mode Sombre {{ isDarkModeActive() ? 'Activé' : 'Désactivé' }}
  </span>
</div>

<div class="p-0 m-0 bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
  <router-outlet class="p-0 m-0"></router-outlet>
</div>

