/* You can add global styles to this file, and also import other style files */


@media (prefers-color-scheme: dark) {
  @import 'tailwindcss/base';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';
  
  body {
    background-color: #1a202c;
    color: #fff;
  }
}






